{% set timestamp = 'now'|date('U') %}
<!DOCTYPE html>
<html lang="en" dir="{{ direction|default('ltr') }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="index.css?{{ timestamp }}">
</head>
<body class="demo">
{% block body %}
{% endblock %}
<script type="text/javascript" src="index.js?{{ timestamp }}"></script>
</body>
</html>
