{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--Field--field">
        {% for testCase in testCases %}
            <div class="test-case">
                <div class="test-case-title">
                    {{ testCase.title }}
                </div>
                <div class="test-case-content">
                    {% include "@Src/Field/field/field.html.twig" with testCase.data %}
                    {#{% include "../../../src/Field/field.html.twig" %}#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
