{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--Field--field">
        <div class="demo--title">{{ title }}</div>
        <div class="demo--content">
            {% for testCase in testCases %}
                <div class="test-case">
                    <header>{{ testCase.title }}</header>
                    <div class="content">
                        {% include "@Test/Field/field/test.html.twig" with testCase.data %}
                        {#{% include "../../../src/Field/field.html.twig" %}#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
